# Tokens y Credenciales Sensibles
meli_tokens.json
token.pickle
credentials.json

# Datos de usuario
Facturas_Compras/
Facturas_MercadoLibre/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# OS
.DS_Store
Thumbs.db
